{
  "title": "Интернет магазин кактусов",
  "groups": [
    "181-323",
    "181-324"
  ],
  "curators": [
    "5fbe5aa3e36336344c1d8bf9",
    "5fbe5aa3e36336344c1d8bfe"
  ],
  "retake": false,
  "description": "Задание на ИП 2020 заключается в создании интернет-магазин Кактусов\nЗадание можно выполнять одному, тогда нужно будет выполнить только одну часть задания (или сайт или мобильное приложение). Так же можно выполнять в паре, тогда вам необходимо представить на сдачу и сайт и мобильное приложение.",
  "descriptionFile": null,
  "deadline": "2020-12-15T22:30:00",
  "comment": null,
  "quantity": 3,
  "options": 30,
  "fields": [
    {
      "title": "Ссылка на гит",
      "kind": "input"
    },
    {
      "title": "Ссылка на макет",
      "kind": "input"
    }
  ],
  "marks": [
    {
      "mark": "Зачет",
      "max": 100,
      "min": 55
    },
    {
      "mark": "Не зачет",
      "max": 54,
      "min": 0
    }
  ],
  "criteriaGroups": [
    {
      "title": "Реализация проекта",
      "criteria": [
        {
          "title": "Проект выложен на сервере fit.mospolytech.ru",
          "max": 2
        },
        {
          "title": "Создать репозиторий проекта, вести разработку в нем с использованием веток",
          "max": 3
        },
        {
          "title": "Разработка адаптивной верстки - минимум для трех размеров экранов",
          "max": 3
        },
        {
          "title": "Использование внешних CSS и JS библиотек",
          "max": 5
        },
        {
          "title": "Использование Webpack",
          "max": 5
        },
        {
          "title": "Использование GraphQL",
          "max": 10
        },
        {
          "title": "Single Page Application (React, Angular, Vue.js)",
          "max": 10
        }
      ]
    },
    {
      "title": "Документация",
      "criteria": [
        {
          "title": "Анализ аналогов (поиск отечественных и зарубежных сайтов, анализ структуры сайта, юзабилити, функциональности)",
          "max": 5
        },
        {
          "title": "Разработка и тестирование (архитектура проекта, структура базы данных, типовые запросы к БД, алгоритмы, ПМИ и т.д.)",
          "max": 5
        },
        {
          "title": "Проектирование (обзор кейсов использования сайтов, CJM, выбор функционала, проектирование бизнес-процессов и т.д.)",
          "max": 5
        }
      ]
    }
  ]
}